:root {
  --light: rgb(255, 255, 255);
  --dark: rgb(0, 0, 0);
  --title-color: rgb(255, 255, 255);
  --text-color: rgb(255, 255, 255);
  --title-font: "Poppins", sans-serif;
  --text-font: "Poppins", sans-serif;
  --title-font-size: ;
  --text-font-size: ;
}
.nav_logo_mt {
  height: 85px;
  color: var(--light);
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
  margin-left: 0.6rem;
  text-align: center;
}
.navbar_mt {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  width: 100%;
  min-height: 75px;
  background-color: var(--light);
  color: var(--light);
  border-bottom: 1px solid limegreen;
}
.navbar_links_mt {
  display: flex;
  padding: 0.5rem 2rem;
}
.navbar_link_mt {
  color: var(--light);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.navbar_item_mt {
  line-height: 40px;
  margin-left: 1.2rem;
}
.navbar_item_mt:after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
}
.navbar_item_mt:hover:after {
  width: 100%;
  background: var(--light);
  transition: all ease-in-out 250ms;
}

.navbar_burger_mt {
  background: transparent;
  border: none;
  color: inherit;
}
@media screen and (max-width: 768px) {
  .nav_logo_mt {
    height: 70px;
    align-items: center;
    cursor: pointer;
    flex-grow: 1;
    margin-left: -0.1rem;
  }
}
