.redirection {
  display: flex;
  justify-content: center;
  padding: 5rem;
}
button {
  align-items: center;
  color: #ffffff;
  background-color: #2ecc71;
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
  opacity: 0.85;
}

.button:active {
  outline: 0;
}

.button:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 3px;
}

.button-link {
  text-decoration: none;
}

@media (max-width: 768px) {
  .button {
    height: 48px;
    font-size: 1rem;
  }
  .redirection {
    display: flex;
    justify-content: center;
  }
}