body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bolder;
  color: limegreen;
}

p {
  margin-bottom: 3rem;
  color: var(--dark);
}
main {
  background: white;
  align-content: center;
  
}

:root {
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1920 - 320));
}
