.result-box {
    margin: auto;
    width: 75vw;
    border: 1px solid white; 
    padding: 1rem;
}

.result-title {
    text-align: center;
    
    font-size: 5rem;
}

ul {
    list-style: none;
}

.result-aqi {
    font-weight: bold;
}