.result-box {
    margin: auto;
    width: 75vw;
    border: 1px solid white; 
    padding: 1rem;
}

.result-title {
    text-align: center;
    
    font-size: 5rem;
}

ul {
    list-style: none;
}

.result-aqi, .result-time {
    font-weight: bold;
}

.result-none {
    text-align: center;
}

.result-flex {
    display: flex; 
    justify-content: space-around;
}

.result-first, .result-second {
    width: 45%;
    border: 1px solid white;
    padding: 1rem;
}

